@model List<ILearnWebApp.Domain.Entities.Course>
@using ILearnWebApp.Domain.Entities

@{
    ViewData["Title"] = "Homepage";
}

<partial name="_Notification"/>

<section id="home" style="height: 800px " class="w3l-banner py-5 minimal-border">
    <div class="container pt-5 pb-md-4">
        <div class="row align-items-center">
            <div class="col-md-6 banner-left pt-md-0 pt-5">
                <div class="mb-sm-4 mb-3">
                    <h1 class="font-weight-bold text-black main-title">ILEARN ONLINE ENGLISH LANGUAGE CENTER</h1><br>
                    <span class="type-js">
                        <span class="text-js text-black"> Specialized in training and preparing for the TOEIC exam from 0 to 900+. </span>
                    </span>
                </div>
                <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                    <a class="btn button-style" href="@Url.Action("Index", "Course")">Join now</a>
                </div>
            </div>
            <div class="col-md-6 banner-right mt-md-0 mt-4">
                <img class="img-fluid" src="~/images/resources/b1.png" alt=" ">
            </div>
        </div>
    </div>
</section>

<div class="inner-banner minimal-border" id="Intro">
    <div class="mx-auto">
        <div class="row d-flex align-items-center ">
            <div class="div-img col col-6 text-right mt-3 mb-3">
                <img src="~/images/resources/about1.jpg" alt="Image" />
            </div>
            <div class="col col-6 text-left mt-3 mb-3">
                <p class="div-text" style="font-size: 16px">
                    <strong>You want to obtain a TOEIC certificate, but...</strong>
                    <br>
                    ❌ Have a weak foundation and don't know where to start?
                    <br>
                    ❌ Don't have a clear study plan?
                    <br>
                    ❌ Self-studying for a long time without seeing results?
                    <br>
                    ❌ Need an intensive plan to graduate on time?
                    <br>
                    ❌ You're working and don't have much time?
                    <br>
                    Welcome to:
                    <br>
                    <strong style="font-size: 20px">ILEARN ONLINE ENGLISH LANGUAGE CENTER</strong>
                    <br>
                    ILEARN Online English Center specializes in TOEIC training and exam preparation. Our team of instructors has designed a series of courses from basic to advanced <strong> to make it incredibly easy for anyone who wants to obtain a TOEIC certificate, within a period of 3-6 months.</strong>
                    <br>
                    In the past 3 years, we have trained over 2,000 students and professionals, helping them improve their academic performance and advance their careers.
                    <br>
                    Are you ready to conquer your TOEIC goals?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="feature-product-section minimal-border">
    <div class="container-flush">
        <div class="feature-show container pt-3">
            <div class="feature-product-title p-4">
                <h2 class="text-center"><bold>FOUNDATION COURSES</bold></h2>
            </div>
            <div class="row justify-content-center">
                @{
                    foreach (Course j in Model)
                    {
                        if (j.CategoryId == 1)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mt-3 mb-3">
                                <div class="course-item pb-2">
                                    <a href="@Url.Action("GetCourse","Cart",new {ID = j.Id})">
                                        <div class="course-item-image">
                                            <img src="~/images/resources/@j.Img" alt="" class="minimal-border-bottom" />
                                        </div>
                                    </a>
                                    <div class="course-item-detail">
                                        <h3 class="title" style="min-height: unset">
                                            <a href="@Url.Action("GetCourse","Cart",new {ID = j.Id})">
                                                <span class="ellipsis-2 course-name ml-3 mt-3" style="height: 42px">@j.CourseName</span>
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="row pb-2">
                                        <div class="col-md-6 col-sm-12 col-7 pr-0">
                                            <div class="ellipsis-1 ml-3 mb-2">
                                                <span>
                                        @Common.GetLecturerNameFromCourse(j)
                                                </span>
                                            </div>
                                            <div class="rating_course rate_star_replace pull-left star_change ml-3">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                                <i class="fa fa-fw fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="clearfix text-right">
                                                <div class="price-col mr-2">
                                                    <strike><span id="formatted-price">@String.Format("{0: #,##0đ}", j.CoursePrice)</span></strike>
                                                    <br>
                                                    <strong style="font-size: 22px"><span id="formatted-price">@String.Format("{0: #,##0đ}", j.DiscountPrice)</span></strong>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="container-flush">
        <div class="feature-show container">
            <div class="feature-product-title p-4">
                <h2 class="text-center"><bold>INTENSIVE EXAM PREPARATION TOOLKIT</bold></h2>
            </div>
            <div class="row justify-content-center">
                @{
                    foreach (Course j in Model)
                    {
                        if (@j.CategoryId == 2)
                        {
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mt-3 mb-3">
                                            <div class="course-item pb-2">
                                                <a href="@Url.Action("GetCourse","Cart",new {ID = j.Id})">
                                                    <div class="course-item-image">
                                                        <img src="~/images/resources/@j.Img" alt="" class="minimal-border-bottom" />
                                                    </div>
                                                </a>
                                                <div class="course-item-detail">
                                                    <h3 class="title" style="min-height: unset">
                                                        <a href="@Url.Action("GetCourse","Cart",new {ID = j.Id})">
                                                            <span class="ellipsis-2 course-name ml-3 mt-3" style="height: 42px">@j.CourseName</span>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class="row pb-2">
                                                    <div class="col-md-6 col-sm-12 col-7 pr-0">
                                                        <div class="ellipsis-1 ml-3 mb-2">
                                                            <span>
                                                    @Common.GetLecturerNameFromCourse(j)
                                                            </span>
                                                        </div>
                                                        <div class="rating_course rate_star_replace pull-left star_change ml-3">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="clearfix text-right">
                                                            <div class="price-col mr-1">
                                                                <strike><span id="formatted-price">@String.Format("{0: #,##0đ}", j.CoursePrice)</span></strike>
                                                                <br>
                                                                <strong style="font-size: 22px"><span id="formatted-price">@String.Format("{0: #,##0đ}", j.DiscountPrice)</span></strong>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="container-flush">
        <div class="feature-show container pt-3 pb-3">
            <div class="feature-product-title p-4">
                <h2 class="text-center"><bold>VIP COURSE - IN-PERSON LEARNING</bold></h2>
            </div>
            <div class="row justify-content-center">
                @{
                    foreach (Course j in Model)
                    {
                        if (@j.CategoryId == 3)
                        {
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mt-3 mb-3">
                                            <div class="course-item">
                                                <a href="@Url.Action("GetCourse","Cart",new {ID = j.Id})">
                                                    <div class="course-item-image">
                                                        <img src="~/images/resources/@j.Img" alt="" class="minimal-border-bottom"/>
                                                    </div>
                                                </a>
                                                <div class="course-item-detail">
                                                    <h3 class="title" style="min-height: unset">
                                                        <a href="@Url.Action("GetCourse","Cart",new {ID = j.Id})">
                                                            <span class="ellipsis-2 course-name ml-3 mt-3" style="height: 42px">@j.CourseName</span>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class="row pb-2">
                                                    <div class="col-md-6 col-sm-12 col-7 pr-0">
                                                        <div class="ellipsis-1 ml-3 mb-2">
                                                            <span>
                                                    @Common.GetLecturerNameFromCourse(j)
                                                            </span>
                                                        </div>
                                                        <div class="rating_course rate_star_replace pull-left star_change ml-3">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                            <i class="fa fa-fw fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 pl-0">
                                                        <div class="clearfix text-right">
                                                            <div class="price-col mr-2">
                                                                <strike><span id="formatted-price">@String.Format("{0: #,##0đ}", j.CoursePrice)</span></strike>
                                                                <br>
                                                                <strong style="font-size: 22px"><span id="formatted-price">@String.Format("{0: #,##0đ}", j.DiscountPrice)</span></strong>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="reason-section minimal-border" style="background-color: #FBFBFB">
    <div class="container justify-content-center pt-5 pb-5">
        <h2 class="text-align-center p-5">4 REASONS TO CHOOSE ILEARN</h2>
        <div class="row">
            <div class="reason-content col-3">
                <div class="reason-img">
                    <img src="~/images/resources/reason1.jpg" class="minimal-border" alt="Image" />
                </div>
                <div class="reason-detail text-align-center pl-3 pr-3">
                    <p style="font-size: 18px; color: black" class="pt-2 pb-2 font-weight-bolder">100% Results Guarantee</p>
                    <p>Not only do we teach the material, but ILEARN is committed to supporting students until they achieve their goals.</p>
                </div>
            </div>
            <div class="reason-content col-3">
                <div class="reason-img">
                    <img src="~/images/resources/reason2.jpg" class="minimal-border" alt="Image" />
                </div>
                <div class="reason-detail text-align-center pl-3 pr-3">
                    <p style="font-size: 18px; color: black" class="pt-2 pb-2 font-weight-bolder">Learn with experts</p>
                    <p>Passionate, dynamic instructors with high expertise.</p>
                </div>
            </div>
            <div class="reason-content col-3">
                <div class="reason-img">
                    <img src="../images/reason3.jpg" class="minimal-border" alt="Image" />
                </div>
                <div class="reason-detail text-align-center pl-3 pr-3">
                    <p style="font-size: 18px; color: black" class="pt-2 pb-2 font-weight-bolder">Learn Anytime, Anywhere</p>
                    <p>With just a laptop or smartphone connected to the Internet, you can study through our website and app anytime, anywhere.</p>
                </div>
            </div>
            <div class="reason-content col-3">
                <div class="reason-img">
                    <img src="~/images/resources/reason4.jpg" class="minimal-border" alt="Image" />
                </div>
                <div class="reason-detail text-align-center pl-3 pr-3">
                    <p style="font-size: 18px; color: black" class="pt-2 pb-2 font-weight-bolder">Exclusive Methodology</p>
                    <p>The ACTIVE LEARNING method will help you study even before the in-person course begins.</p>
                </div>
            </div>
        </div>
    </div>
</div>


